// a constante token receberá o token para o bot fornecido pela API do Telegram
const token = ''
// a constante positionStackToken recebe o token para a api fornecida pela Position Stack
const positionStackToken = ''
// a constante allowList define todos os ids de usuarios que terao permissao para interagir com o bot
const allowList = [
  '1351450134',
  '5470013193'
]

// exportando o módulo
module.exports = {
  token,
  allowList,
  apiUrl: `https://api.telegram.org/bot${token}`,
  apiFileUrl: `https://api.telegram.org/file/bot${token}`,
  apiViaCepUrl: `https://viacep.com.br/ws`,
  apiPositionStackUrl: `http://api.positionstack.com/v1/forward?access_key=${positionStackToken}`
}